.cmpServiceList {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 14px;
    padding: 13px 0 10px;
    color: #999;
}

.cmpServiceList a {
    text-decoration: none;
}

.cmpServiceList .list.var-lines .item {
    margin-bottom: 10px;
    font-family: Calibri, Helvetica, sans-serif;
    border: 1px solid #e6e6e6;
    cursor: pointer;
}

.cmpServiceList .list.var-lines .item:hover {
    background: #f2f2f2;
}

.cmpServiceList .list.var-lines .item img {
    border-right: 1px solid #e6e6e6;
}

.cmpServiceList .list.var-lines .item .desc {
    margin-left: 5px;
}

.cmpServiceList .list.var-lines .item .group {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #999;
    text-decoration: underline;
}

.cmpServiceList .list.var-lines .item .title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 24px;
    color: #333;
}

.cmpServiceList .list.var-lines .item .statusWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 210px;
    height: 100%;
    padding: 15px 0 15px 10px;
    color: #00a99d;
}

.cmpServiceList .list.var-lines .item .statusWrapper a {
    color: #00a99d;
    text-decoration: underline;
}

.cmpServiceList .list.var-lines .item .statusWrapper a:hover {
    text-decoration: none;
}

.cmpServiceList .list.var-lines .item .statusWrapper .add {
    display: none;
    opacity: 0.5;
}

.cmpServiceList .list.var-lines .item .statusWrapper .add:hover {
    opacity: 1;
}

.cmpServiceList .list.var-lines .item .statusWrapper .add .icon {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background: url('./images/add.svg') center center no-repeat;
    background-size: cover;
}

.cmpServiceList .list.var-lines .item .statusWrapper .added {
    display: none;
    flex-direction: column;
}

.cmpServiceList .list.var-lines .item .statusWrapper .added .icon {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background: url('./images/ok.svg') center center no-repeat;
    background-size: cover;
}

.cmpServiceList .list.var-lines .item .statusWrapper .link {
    margin-left: 25px;
}

.cmpServiceList .list.var-blocks .item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto 19px;
    width: 250px;
    height: 286px;
    border: 1px solid #e6e6e6;
}

.cmpServiceList .list.var-blocks .item img {
    flex: 0 0 143px;
    width: 100%;
    height: 143px;
    border-bottom: 1px solid #e6e6e6;
}

.cmpServiceList .list.var-blocks .item .desc {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    padding: 9px 13px 10px;
    overflow: hidden;
}

.cmpServiceList .list.var-blocks .item .desc .group {
    margin-bottom: 5px;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 13px;
    color: #999;
    text-decoration: underline;
}

.cmpServiceList .list.var-blocks .item .desc .text {
    height: 64px;
    line-height: 16px;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    overflow: hidden;
}

.cmpServiceList .list.var-blocks .item .desc .add {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 13px;
    color: #00a99d;
    cursor: pointer;
    opacity: 0.5;
}

.cmpServiceList .list.var-blocks .item .desc .add:hover {
    opacity: 1;
}

.cmpServiceList .list.var-blocks .item .desc .add .icon {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background: url('./images/add.svg') center center no-repeat;
    background-size: cover;
}

.cmpServiceList .list.var-blocks .item .desc .added {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 12px;
    color: #00a99d;
    cursor: pointer;
}

.cmpServiceList .list.var-blocks .item .desc .added .status {
    display: flex;
    align-items: center;
}

.cmpServiceList .list.var-blocks .item .desc .added .icon {
    margin-right: 5px;
    width: 12px;
    height: 14px;
    background: url('./images/ok.svg') center center no-repeat;
    background-size: cover;
}

.cmpServiceList .list.var-blocks .item .desc .added .link {
    font-size: 13px;
    color: #00a99d;
    text-decoration: underline;
}

.cmpServiceList .list.var-blocks .item .desc .added .link:hover {
    text-decoration: none;
}

.cmpServiceList .list.var-blocks .item:hover .desc {
    background-color: #f2f2f2;
}
