.ui-system-alert__scope {
	--ui-system-alert-bg: transparent;
	--ui-system-alert-stroke: transparent;
	--ui-system-alert-stroke-width: 1px;
	--ui-alert-left-image: none;
}

.ui-system-alert {
	width: 100%;
	position: relative;
	display: flex;
	background-color: var(--ui-system-alert-bg);
	border: var(--ui-system-alert-stroke-width) solid var(--ui-system-alert-stroke);
	border-radius: var(--ui-border-radius-lg);
}

.ui-system-alert-inner {
	width: 100%;
	padding: 18px 22px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.ui-system-alert__left-image {
	display: none;
	min-width: 52px;
	width: 52px;
	height: 52px;
	margin-right: 12px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: var(--ui-alert-left-image);
}

.ui-system-alert.--has-left-image .ui-system-alert__left-image {
	display: flex;
}

.ui-system-alert__content {
	color: var(--ui-color-base-1);
}

.ui-system-alert.--tinted {
	--ui-system-alert-bg: var(--ui-color-design-tinted-bg);
	--ui-system-alert-stroke: var(--ui-color-design-tinted-stroke-alt);
}

.ui-system-alert.--tinted-success {
	--ui-system-alert-bg: var(--ui-color-design-tinted-success-bg);
	--ui-system-alert-stroke: var(--ui-color-design-tinted-success-stroke-alt);
}

.ui-system-alert.--tinted-warning {
	--ui-system-alert-bg: var(--ui-color-design-tinted-warning-bg);
	--ui-system-alert-stroke: var(--ui-color-design-tinted-warning-stroke-alt);
}

.ui-system-alert.--tinted-alert {
	--ui-system-alert-bg: var(--ui-color-design-tinted-alert-bg);
	--ui-system-alert-stroke: var(--ui-color-design-tinted-alert-stroke-alt);
}

.ui-system-alert__close-button {
	--ui-color: var(--ui-color-base-5);
	--ui-icon-set__icon-color: var(--ui-color);
	display: flex;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 4px;
	right: 4px;
	justify-content: center;
	align-items: center;
	border: none;
	background: none;
	cursor: pointer;
}

.ui-system-alert__close-button:hover {
	--ui-icon-set__icon-color: var(--ui-color-hover);
}
