.ui-block-diagram-group-box {
	position: absolute;
	border: 2px solid var(--ui-color-blue-57);
	z-index: 90;
	border-radius: 4px;
}

.ui-block-diagram-group-box__layout {
	width: 100%;
	height: 100%;
}