.cmpArticleList {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 14px;
    padding: 13px 0 10px;
    color: #999;
}

.cmpArticleList .description {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 21px;
    color: #4d4d4d;
}

.cmpArticleList .var-blocks .itemWrapper {
    height: 100%;
    padding-bottom: 26px;
}

.cmpArticleList .var-blocks .item {
    position: relative;
    display: block;
    /*margin-bottom: 26px;*/
    height: 100%;
    min-height: 159px;
    border: 1px solid #e6e6e6;
    text-decoration: none;
}

.cmpArticleList .var-blocks .item .image {
    max-width: 100%;
    border: 1px solid #b3b3b3;
}

.cmpArticleList .var-blocks .item .desc {
    margin: 5px;
}

.cmpArticleList .var-blocks .item .timestamp {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 11px;
    color: #999;
}

.cmpArticleList .var-blocks .item .title {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 18px;
    color: #00a99d;
    text-decoration: underline;
}

.cmpArticleList .var-blocks .item .text {
    font-size: 13px;
    line-height: 15px;
    color: #4d4d4d;
}

.cmpArticleList .var-blocks .item:hover {
    background: #f2f2f2;
}

.cmpArticleList .var-blocks .item:hover .title {
    text-decoration: none;
}

.cmpArticleList .var-lines .item {
    display: block;
    margin-bottom: 11px;
    border: 1px solid #e6e6e6;
    text-decoration: none;
}

.cmpArticleList .var-lines .item .image {
    max-width: 100%;
    border: 1px solid #b3b3b3;
}

.cmpArticleList .var-lines .item .desc {
    margin: 0 5px 5px;
}

.cmpArticleList .var-lines .item .timestamp {
    font-size: 11px;
    color: #999;
}

.cmpArticleList .var-lines .item .title {
    margin: 5px 0 5px;
    font-size: 26px;
    line-height: 28px;
    color: #00a99d;
    text-decoration: underline;
}

.cmpArticleList .var-lines .item .text {
    font-size: 20px;
    line-height: 22px;
    color: #4d4d4d;
}

.cmpArticleList .var-lines .item:hover {
    background: #f2f2f2;
}

.cmpArticleList .var-lines .item:hover .title {
    text-decoration: none;
}
