.cmpMainSlider {
    border-bottom: 1px solid #ccc;
    background: #fff;
    box-shadow: inset 0 20px 15px -15px rgba(0, 0, 0, 0.15);
}

.cmpMainSlider .container-fluid {
    max-width: 1200px;
}

.cmpMainSlider .carousel-indicators {
    margin-bottom: 27px;
}

.cmpMainSlider .carousel-item:before {
    content: ' ';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 20px 15px -15px rgba(0, 0, 0, 0.15);
}

@media (max-width: 575.98px) {
    .cmpMainSlider .carousel-indicators {
        margin-bottom: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .cmpMainSlider .carousel-indicators {
        margin-bottom: 18px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .cmpMainSlider .carousel-indicators {
        margin-bottom: 21px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .cmpMainSlider .carousel-indicators {
        margin-bottom: 24px;
    }
}

@media (min-width: 1200px) {

}
