.ui-block-diagram-search-bar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 6px;
	width: auto;
	max-width: 350px;
	padding: 6px;
	border-radius: 8px;
	background: var(--ui-color-palette-white-base);
	box-shadow: 0 1px 2px 0 rgba(var(--ui-color-palette-black-solid-rgb), 0.13);
}

.ui-block-diagram-search-bar__search-result {
	width: 100%;
	padding: 0 8px 0 15px;
}
