.messageservice-message-editor__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: var(--ui-space-stack-sm);
	min-width: 0;
}

.messageservice-message-editor__header-left, .messageservice-message-editor__header-right {
	display: flex;
	align-items: center;
	gap: var(--ui-space-inline-sm);
}

.messageservice-message-editor__header-left {
	min-width: 0;
	flex: 1;
}

.messageservice-message-editor__header-right {
	flex-shrink: 0;
}

.messageservice-message-editor__content {
	margin-bottom: var(--ui-space-stack-lg);
}

.messageservice-message-editor__content__body {
	border-radius: var(--ui-border-radius-2xl);
	margin-bottom: var(--ui-space-stack-xs2);
	transition: background-color 300ms ease, border-color 300ms ease;
}

.messageservice-message-editor__content__body__actions {
	height: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* align buttons to be visually 16px from border of body*/
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
}

.messageservice-message-editor__content__body__actions__left {
	display: flex;
	align-items: center;
	gap: var(--ui-space-inline-xs);
}

.messageservice-message-editor__content__body__actions__copilot .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-copilot-accent-primary);
}

.messageservice-message-editor__flex-column {
	display: flex;
	flex-direction: column;
}

.messageservice-message-editor__content__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.messageservice-message-editor__content__footer__text {
	color: var(--ui-color-palette-gray-35);
}

.messageservice-message-editor__content__footer__text.--disabled {
	color: var(--ui-color-palette-gray-10);
}

.messageservice-message-editor__content__footer__text.--pointer {
	cursor: pointer;
}

.messageservice-message-editor__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--ui-space-inline-8xl);
}

.messageservice-message-editor__footer__buttons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: var(--ui-space-inline-sm);
}

.messageservice-message-editor__footer__from {
	display: flex;
	align-items: center;
}

.messageservice-message-editor__footer__from__text {
	color: var(--ui-color-gray-70);
}

.messageservice-message-editor__alert .ui-alert {
	margin-bottom: 0;
}

.messageservice-message-editor__placeholder-pill {
	display: inline-flex;
	align-items: center;
	background-color: var(--ui-color-accent-soft-blue-2);
	color: var(--ui-color-accent-soft-element-blue);
	border-radius: var(--ui-border-radius-xs);
	padding: 0 6px;
	line-height: 20px;
	font-weight: var(--ui-typography-text-lg-font-weight);
	white-space: nowrap;
	cursor: default;
}

.messageservice-message-editor__placeholder-pill::selection {
	background-color: var(--ui-color-accent-soft-blue-1);
}
