.cmpPopularServices {
    padding: 13px 0 40px;
    border-top: 1px solid #fff;
    background: #fff;
    box-shadow: inset 0 40px 50px -50px rgba(0, 0, 0, 0.2);
}

.cmpPopularServices .titleBlock {
    margin-bottom: 35px;
}

.cmpPopularServices .titleBlock .title {
    font-family: Georgia, serif;
    font-size: 36px;
    line-height: 36px;
    color: #00a99d;
}

.cmpPopularServices .titleBlock .allServices {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 16px;
    color: #00a99d;
    text-decoration: underline;
}

.cmpPopularServices .titleBlock .allServices:hover {
    text-decoration: none;
}

.cmpPopularServices .slides {
    padding: 0 15px;
}

.cmpPopularServices .slides .slide {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 240px;
    height: 286px;
    border: 1px solid #e6e6e6;
}

.cmpPopularServices .slide img {
    flex: 0 0 143px;
    width: 100%;
    height: 143px;
    border-bottom: 1px solid #e6e6e6;
}

.cmpPopularServices .slide .desc {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    padding: 9px 13px 10px;
    overflow: hidden;
}

.cmpPopularServices .slide .desc .group {
    margin-bottom: 5px;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 13px;
    color: #999;
    text-decoration: underline;
}

.cmpPopularServices .slide .desc .text {
    height: 64px;
    line-height: 16px;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    text-decoration: none;
}

.cmpPopularServices .slide .desc .add {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 13px;
    color: #00a99d;
    cursor: pointer;
    opacity: 0.5;
}

.cmpPopularServices .slide .desc .add:hover {
    opacity: 1;
}

.cmpPopularServices .slide .desc .add .icon {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background: url('./images/add.svg') center center no-repeat;
    background-size: cover;
}

.cmpPopularServices .slide .desc .added {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 12px;
    color: #00a99d;
    cursor: pointer;
}

.cmpPopularServices .slide .desc .added .status {
    display: flex;
    align-items: center;
}

.cmpPopularServices .slide .desc .added .icon {
    margin-right: 5px;
    width: 12px;
    height: 14px;
    background: url('./images/ok.svg') center center no-repeat;
    background-size: cover;
}

.cmpPopularServices .slide .desc .added .link {
    font-size: 13px;
    color: #00a99d;
    text-decoration: underline;
}

.cmpPopularServices .slide .desc .added .link:hover {
    text-decoration: none;
}

.cmpPopularServices .slide:hover .desc {
    background-color: #f2f2f2;
}

.cmpPopularServices .slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 15px;
    height: 60px;
    border: none;
    background: url('./images/arrows_sprite.svg') 0 0 no-repeat;
    background-size: 30px auto;
    font-size: 0;
    outline: none;
}

.cmpPopularServices .slick-prev:hover {
    background-position: 100% 0;
}

.cmpPopularServices .slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 15px;
    height: 60px;
    border: none;
    background: url('./images/arrows_sprite.svg') 0 100% no-repeat;
    background-size: 30px auto;
    font-size: 0;
    outline: none;
}

.cmpPopularServices .slick-next:hover {
    background-position: 100% 100%;
}
