.intranet-settings__vibe-template {
	display: flex;
	padding-top: 9px;
}

.intranet-settings__vibe-template.--secondary-template {
	padding-top: 0;
}

.intranet-settings__vibe-icon-box {
	margin-right: 27px;
}

.intranet-settings__vibe-icon {
	display: block;
	width: 259px;
	height: 194px;
	background: url(../images/intranet-settings-main-template-graphic.svg) no-repeat;
}

.intranet-settings__vibe-info-template {
	max-width: 371px;
}

.intranet-settings__vibe-preview-box {
	position: relative;
	overflow: hidden;
	margin-right: 27px;
	width: 259px;
	min-width: 259px;
	height: 192px;
}

.intranet-settings__vibe-preview {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	box-shadow: 0px 9px 18px 0px rgba(0, 104, 148, 0.12);
	object-fit: cover;
}

.intranet-settings__vibe-content {
	flex: 1;
	overflow: hidden;
	margin-top: 32px;
}

.intranet-settings__vibe-template.--secondary-template .intranet-settings__vibe-content {
	flex: 1;
	margin-top: 0;
}

.intranet-settings__vibe-button-box > *:nth-child(1) {
	flex: 1;
}

.intranet-settings__vibe-button-box > *:nth-child(2) {
	flex: 1.3;
}

.intranet-settings__vibe-list {
	padding: 0 0 0 24px;
	margin: 0 0 32px 0;
}

.intranet-settings__vibe-list-item {
	position: relative;
	margin-bottom: 6px;
	list-style: none;
	font-size: var(--ui-font-size-md);
	color: var(--ui-color-base-90);
	line-height: 18px;
}

.intranet-settings__vibe-list-item:last-child {
	margin-bottom: 0;
}

.intranet-settings__vibe-list-icon.ui-icon-set {
	position: absolute;
	top: 2px;
	left: -24px;
	--ui-icon-set__icon-size: 15px;
	--ui-icon-set__icon-color: var(--ui-color-palette-blue-40);
}

.intranet-settings__vibe-list-name {
	letter-spacing: -.7px;
}

.intranet-settings__vibe-button-box {
	display: flex;
	/*grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));*/
	gap: 8px;
	align-items: center;
	flex-wrap: wrap;
}

.intranet-settings__vibe-button-box .ui-btn {
	margin-left: 0;
}

.intranet-settings__vibe-button-box .ui-btn.--light-blue {
	border: 1px solid var(--ui-color-palette-blue-40);
	background: var(--ui-color-background-transparent);
	color: var(--ui-color-base-90);
}

.intranet-settings__vibe-button-box .ui-btn.--light-blue:hover {
	border: 1px solid var(--ui-color-palette-blue-60);
}

.intranet-settings__vibe-button-box .ui-btn.--light-gray {
	border: 1px solid #c6cdd3;
	background: var(--ui-color-background-transparent);
	color: var(--ui-color-base-90);
}

.intranet-settings__vibe-button-box .ui-btn.--light-gray:hover {
	border: 1px solid #7e858b;
}

.intranet-settings-btn-settings {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: none;
	background: var(--ui-color-background-transparent);
	cursor: pointer;
}

.intranet-settings-btn-settings .ui-icon-set {
	--ui-icon-set__icon-size: 24px;
	--ui-icon-set__icon-color: var(--ui-color-base-40);
}

.intranet-settings-btn-settings:hover .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-60);
}

.intranet-settings__vibe-title {
	display: block;
	margin: 15px 0 13px 0;
	font-size: var(--ui-font-size-2xl);
	font-weight: var(--ui-font-weight-semi-bold);
	color: #151515;
	letter-spacing: -.5px;
}

.intranet-settings__vibe-info {
	margin-bottom: 36px;
	padding: 11px 15px 18px 15px;
	border-radius: var(--ui-border-radius-sm);
	background: var(--ui-color-palette-orange-10);
}

.intranet-settings__vibe-info-title {
	position: relative;
	margin-bottom: 3px;
	padding-left: 14px;
	color: var(--ui-color-base-70);
	letter-spacing: -.5px;
}

.intranet-settings__vibe-info-title:before {
	content: '';
	position: absolute;
	top: 5px;
	left: 0;
	width: 8px;
	height: 8px;
	border-radius: var(--ui-border-radius-circle);
	background: var(--ui-color-palette-orange-50);
}

.intranet-settings__vibe-info-subtitle {
	display: flex;
	align-items: center;
	padding-left: 14px;
	color: var(--ui-color-palette-orange-60);
	letter-spacing: -.5px;
}

.intranet-settings__vibe-info-help.ui-icon-set {
	margin-left: 6px;
	--ui-icon-set__icon-size: 21px;
	--ui-icon-set__icon-color: var(--ui-color-palette-orange-40);
	cursor: pointer;
}

.intranet-settings__vibe-info-help.ui-icon-set:hover {
	--ui-icon-set__icon-color: var(--ui-color-palette-orange-60);
}

.intranet-settings__vibe-info.--success {
	background: #f5fcde;
}

.intranet-settings__vibe-info.--success .intranet-settings__vibe-info-title:before {
	background: var(--ui-color-palette-green-60);
}

.intranet-settings__vibe-info.--success .intranet-settings__vibe-info-subtitle {
	color: var(--ui-color-palette-green-60);
}

.intranet-settings__vibe-info.--success .intranet-settings__vibe-info-help.ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-palette-green-60);
}

.intranet-settings-vibe-popup-item,
.intranet-settings-vibe-button-wrap {
	display: flex;
	align-items: center;
}

.intranet-settings-vibe-popup-item .ui-icon-set.--lock,
.intranet-settings-vibe-button-wrap .ui-icon-set.--lock,
.intranet-settings__vibe-button-box .ui-icon-set.--lock {
	margin: 2px 0 0 4px;
	--ui-icon-set__icon-size: 21px;
	--ui-icon-set__icon-color: var(--ui-color-palette-blue-50);
}

.intranet-settings__vibe-button-box .ui-btn.ui-btn-primary .ui-icon-set.--lock {
	--ui-icon-set__icon-color: var(--ui-color-palette-white-base);
}

.intranet-settings__vibe-button-box .ui-icon-set.--lock {
	margin: 0 0 0 4px;
}

.intranet-settings__vibe-popup .popup-window-titlebar-text,
.intranet-settings__vibe-popup .popup-window-content {
	color: #535c69;
}

.intranet-settings__vibe-button-box-right {
	display: flex;
}

.intranet-settings__vibe-button-box-right .ui-btn {
	flex: 1;
}

/* endregion */
