.cmpIndexArticles {
    padding: 13px 0 40px;
    background: #fff;
}

.cmpIndexArticles .titleBlock {
    margin-bottom: 35px;
}

.cmpIndexArticles .titleBlock .title {
    font-family: Georgia, serif;
    font-size: 36px;
    line-height: 36px;
    color: #00a99d;
}

.cmpIndexArticles .titleBlock .allServices {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 16px;
    color: #00a99d;
    text-decoration: underline;
}

.cmpIndexArticles .titleBlock .allServices:hover {
    text-decoration: none;
}

.cmpIndexArticles .item {
    display: block;
    margin-bottom: 10px;
    font-family: Calibri, Helvetica, sans-serif;
    text-decoration: none;
}

.cmpIndexArticles .item img {
    border: 1px solid #b3b3b3;
}

.cmpIndexArticles .item .timestamp {
    font-size: 11px;
    color: #999;
}

.cmpIndexArticles .item .title {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 18px;
    color: #00a99d;
    text-decoration: underline;
}

.cmpIndexArticles .item .text {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 15px;
    color: #4d4d4d;
}

.cmpIndexArticles .item:hover .title {
    text-decoration: none;
}

