::-ms-clear {
    display: none;
}

a {
    text-decoration: underline;
    color: #00a99d;
}

a:hover {
    text-decoration: none;
}

button,
button:focus {
    outline: none;
}

.header .infoWrapper {
    height: 120px;
    background: #fafafa;
    overflow: hidden;
    padding-bottom: 5px;
}

.header .infoWrapper .container {
    height: 100%;
}

.header .info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header .info > *:not(:last-child) {
    margin-right: 30px;
}

.header .info > *:nth-last-child(2) {
    margin-right: 0;
}

.header .info .logo {
    display: flex;
    align-items: center;
    margin-left: 1px;
    text-decoration: none;
    order: 9;
}

.header .info .logo .icon {
    margin-right: 8px;
    width: 56px;
    height: 52px;
    background: url('./images/logo.svg') center center no-repeat;
    background-size: cover;
}

.header .info .logo .text {
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 19px;
    color: #00a99d;
}

.header .info .search .searchWrapper {
    position: relative;
    width: 220px;
    height: 32px;
}

.header .info .search form {
    height: 100%;
}

.header .info .search input[type="text"] {
    width: 100%;
    height: 100%;
    border: 1px solid #e6e6e6;
    padding: 0 32px 0 18px;
    border-radius: 5px;
    background: #fff;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 15px;
    outline: none;
    color: #000;
}

.header .info .search .icon {
    display: block;
    position: absolute;
    top: 9px;
    right: 13px;
    width: 12px;
    height: 14px;
    border: none;
    background: url('./images/search.svg') center center no-repeat;
    background-size: cover;
    cursor: pointer;
}

.header .info .search input::placeholder {
    color: #999;
}

.header .info .search input:-ms-input-placeholder {
    color: #999;
}

.header .info .search input::-ms-input-placeholder {
    color: #999;
}

.header .info .phone .infoArea {
    position: relative;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.header .info .phone .infoArea .icon {
    margin-right: 8px;
    width: 12px;
    height: 18px;
    background: url('./images/phone.svg') center center no-repeat;
    background-size: cover;
}

.header .info .phone .infoArea .text {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 19px;
    line-height: 21px;
    color: #000;
}

.header .info .phone .actionWrapper {
    line-height: 10px;
}

.header .info .phone .action {
    display: inline-block;
    margin-left: 20px;
    border-bottom: 1px dotted #00a99d;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #00a99d;
    cursor: pointer;
}

.header .info .phone .action:hover {
    border-color: transparent;
}

.header .info .workHours .infoArea {
    position: relative;
    align-items: center;
    display: flex;
}

.header .info .workHours .infoArea .icon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    background: url('./images/clock.svg') center center no-repeat;
    background-size: cover;
}

.header .info .workHours .infoArea .text {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #000;
}

.header .info .workHours .infoArea .text .smaller {
    font-weight: normal;
}

.header .info .workHours .actionWrapper {
    line-height: 10px;
}

.header .info .workHours .action {
    display: inline-block;
    margin-left: 29px;
    border-bottom: 1px dotted #00a99d;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #00a99d;
    cursor: pointer;
}

.header .info .workHours .action:hover {
    border-color: transparent;
}

.header .info .services {
    height: 100%;
}

.header .info .services .counterArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    padding: 8px 18px 0;
    border: 1px dotted #00a99d;
    border-top: none;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 20px;
    color: #000;
    background: #fff;
    text-decoration: none;
}

.header .info .services .counterArea .icon {
    margin-right: 4px;
    width: 17px;
    height: 20px;
    background: url('./images/ok.svg') center center no-repeat;
    background-size: cover;
}

.header .info .services .counterArea .text {
    margin-right: 8px;
}

.header .info .services .counterArea .counter {
    color: #00a99d;
}

.header .menuWrapper {
    position: relative;
    height: 44px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #fff;
    background: linear-gradient(to bottom, #e6e6e6 0%, #cacaca 100%);
}

.header .menu {
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 44px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #c5c5c5;
}

.header .menu table,
.header .menu tbody,
.header .menu tr,
.header .menu td {
    display: block;
}

.header .menu td {
    display: block;
}

.header .menu .container {
    position: relative;
    height: 100%;
}

.header .menu .mobileMenuPanel {
    width: 100%;
    height: 41px;
    border: 1px solid #b7b7b7;
    border-top: 0;
    border-bottom: 0;
}

.header .menu .mobileMenuPanel .menuBtn {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border-right: 1px solid #b7b7b7;
    padding-left: 30px;
    cursor: pointer;
    color: #000;
}

.header .menu .mobileMenuPanel .menuBtn .icon {
    position: relative;
    width: 22px;
    height: 16px;
    border-top: 2px solid #4b4b4b;
    border-bottom: 2px solid #4b4b4b;
}

.header .menu .mobileMenuPanel .menuBtn .icon:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 5px;
    width: 100%;
    height: 2px;
    background: #4b4b4b;
}

.header .menu .mobileMenuPanel .searchBtn {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-right: 30px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.header .menu .mobileMenuPanel .searchBtn .icon {
    position: relative;
    width: 20px;
    height: 22px;
    background: url('./images/search.svg') center center no-repeat;
    background-size: cover;
}

.header .menu .mobileSizer {
    position: relative;
}

.header .menu .itemsWrapper {
    display: none;
    position: absolute;
    top: 3px;
    width: 100%;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #b7b7b7;
}

.header .menu .itemsWrapper td {
    padding: 0;
}

.header .menu .itemsWrapper .menuItem a {
    display: block;
    margin-top: -1px;
    width: 100%;
    height: 44px;
    border-top: 1px solid #f3f3f3;
    border-right: 1px solid #b7b7b7;
    border-bottom: 1px solid #c5c5c5;
    border-left: 1px solid #eaeaea;
    line-height: 44px;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    background: linear-gradient(to bottom, #e6e6e6 0%, #cacaca 100%);
}

.header .menu .itemsWrapper .menuItem a:hover {
    text-decoration: none;
    border-top-color: #a2ddd9;
    border-right-color: #36968e;
    border-bottom-color: #3bb1a9;
    border-left-color: #69c9c1;
    background: linear-gradient(to bottom, #45bbb3 0%, #3cb3aa 100%);
    color: #fff
}

.footer {
    background: #fff;
}

.footer .container {
    height: 100%;
}

.footer .footerContent {
    padding-top: 8px;
    border-top: 1px solid #ccc;
}

.footer .footerContent .item {
    margin-bottom: 15px;
}

.footer .logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.footer .logo .icon {
    margin-right: 9px;
    width: 45px;
    height: 42px;
    background: url('./images/logo.svg') center center no-repeat;
    background-size: cover;
}

.footer .logo .text {
    font-family: Georgia, serif;
    font-size: 22px;
    color: #999;
}

.footer .description {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 11px;
    color: #999;
}

.footer .phoneText {
    margin-left: 30px;
    margin-right: 40px;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 13px;
    color: #4d4d4d;
}

.footer.indexVersion {
    background: #e6e6e6;
}

.content {
    position: relative;
    box-shadow: inset 0 20px 15px -15px rgba(0, 0, 0, 0.15);
}

.slick-slide {
    outline: none;
}

.carousel-indicators.custom li {
    box-sizing: border-box;
    margin: 0 15px;
    width: 22px;
    height: 22px;
    padding: 0;
    border: 1px solid #cac4bf;
    background: #e6e6e6;
    box-shadow: inset 0 1px 0 0 #f9f7f6, 0 1px 0 0 #f9f7f6, 0 1px 10px 1px #e9e9e9;
    opacity: 1;
}

.carousel-indicators.custom li.active {
    border: 1px solid #999;
    background: #ccc;
    box-shadow: inset 0 1px 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8;
}

.pg404 {
    min-height: 900px;
    padding-top: 60px;
    background: url('./images/404_back.jpg') center top no-repeat;
    font-family: Georgia, serif;
    text-align: center;
}

.pg404 .logoText {
    font-size: 19px;
    line-height: 20px;
    color: #00a99d;
}

.pg404 .logo404 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -15px;
    font-size: 113px;
    line-height: 113px;
    color: #00a99d;
}

.pg404 .logo404 .icon {
    position: relative;
    display: inline-block;
    top: 15px;
    left: -7px;
    width: 100px;
    height: 100px;
    background: url('./images/logo.svg') center center no-repeat;
    background-size: cover;
}

.pg404 .title {
    margin-bottom: 160px;
    font-size: 45px;
    line-height: 45px;
    color: #00a99d;
}

.pg404 .text {
    margin: 0 auto;
    max-width: 510px;
    font-size: 24px;
    line-height: 33px;
    color: #666;
}

.pg404 a {
    color: #00a99d;
}

.alert-customSuccess {
    padding: 20px 10px 0 0;
    background: #00a99d;
    border-radius: 0;
    opacity: 0.95;
    font-family: Calibri, Helvetica, sans-serif;
    color: #fff;
    z-index: 1060 !important;
}

.alert-customSuccess .contentWrapper {
    padding: 0 50px 20px;
    font-size: 26px;
}

.alert-customSuccess .icon {
    margin-bottom: 5px;
    width: 47px;
    height: 58px;
    background: url('./images/ok_white.svg') center center no-repeat;
    background-size: cover;
}

.alert-customSuccess .title {
    margin-bottom: 5px;
    font-size: 26px;
    line-height: 27px;
}

.alert-customSuccess .message {
    font-size: 15px;
    line-height: 20px;
}

.alert-customVarning {
    padding: 20px 10px 0 0;
    background: #4d4d4d;
    border-radius: 0;
    opacity: 0.95;
    font-family: Calibri, Helvetica, sans-serif;
    color: #fff;
    z-index: 1060 !important;
}

.alert-customVarning .contentWrapper {
    padding: 0 50px 20px;
    font-size: 26px;
}

.alert-customVarning .icon {
    margin-bottom: 5px;
    width: 64px;
    height: 54px;
    background: url('./images/alarm_white.svg') center center no-repeat;
    background-size: cover;
}

.alert-customVarning .title {
    margin-bottom: 5px;
    font-size: 26px;
    line-height: 27px;
}

.alert-customVarning .message {
    font-size: 15px;
    line-height: 20px;
}

@media (max-width: 575.98px) {
    .carousel-indicators.custom li {
        width: 18px;
        height: 18px;
    }

    .underConst .ribbon {
        background: #00a99d;
        background: linear-gradient(to right, #fff 0%, #00a99d 5%, #00a99d 95%, #fff 100%);
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .carousel-indicators.custom li {
        width: 19px;
        height: 19px;
    }
}

@media (min-width: 576px) {
    .header .infoWrapper {
        height: 75px;
        padding-bottom: 0;
    }

    .header .info {
        flex-direction: row;
        align-items: center;
    }

    .header .info .logo {
        order: 0;
    }

    .header .info .services {
        margin-left: auto;
    }

    .header .menu .mobileMenuPanel .menuBtn {
        padding-left: 30px;
    }

    .header .menu .mobileMenuPanel .menuBtn .icon {
        position: absolute;
        left: 28px;
    }

    .header .menu .mobileMenuPanel .searchBtn {
        padding-right: 30px;
    }

    .header .menu .mobileMenuPanel .searchBtn .icon {
        position: absolute;
        right: 28px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .carousel-indicators.custom li {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 768px) {
    .header .menuWrapper {
        position: static;
        overflow: hidden;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #fff;
        background: linear-gradient(to bottom, #e6e6e6 0%, #cacaca 100%);
    }

    .header .menu {
        position: static;
        height: 44px;
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #c5c5c5;
    }

    .header .menu table {
        display: table;
    }

    .header .menu tbody {
        display: table-row-group;
    }

    .header .menu tr {
        display: table-row;
    }

    .header .menu td {
        display: table-cell;
        white-space: normal;
    }

    .header .menu .container {
        position: relative;
        height: 100%;
    }

    .header .menu .itemsWrapper {
        display: table !important;
        position: relative;
        top: 0;
        width: 100%;
        border-right: 1px solid #eaeaea;
        border-left: 1px solid #b7b7b7;
    }

    .header .menu .itemsWrapper td {
        padding: 0;
    }

    .header .menu .itemsWrapper .menuItem a {
        display: block;
        margin-top: -1px;
        width: 100%;
        height: 44px;
        border-top: 1px solid #f3f3f3;
        border-right: 1px solid #b7b7b7;
        border-bottom: 1px solid #c5c5c5;
        border-left: 1px solid #eaeaea;
        font-family: Calibri, Helvetica, sans-serif;
        color: #000;
        text-decoration: none;
        font-size: 15px;
        line-height: 20px;
    }

    .header .menu .itemsWrapper .menuItem a:hover {
        text-decoration: none;
        border-top-color: #a2ddd9;
        border-right-color: #36968e;
        border-bottom-color: #3bb1a9;
        border-left-color: #69c9c1;
        background: linear-gradient(to bottom, #45bbb3 0%, #3cb3aa 100%);
        color: #fff
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .carousel-indicators.custom li {
        width: 21px;
        height: 21px;
    }
}

@media (min-width: 992px) {
    .header .menu .itemsWrapper .menuItem a {
        line-height: 44px;
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .header .menu .itemsWrapper .menuItem a {
        line-height: 44px;
        font-size: 18px;
    }
}
