.cmpProjectsDone {
    padding: 13px 0 30px;
    background: #e6e6e6;
}

.cmpProjectsDone .titleBlock {
    margin-bottom: 35px;
}

.cmpProjectsDone .titleBlock .title {
    font-family: Georgia, serif;
    font-size: 36px;
    line-height: 36px;
    color: #00a99d;
}

.cmpProjectsDone .titleBlock .allServices {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 16px;
    color: #00a99d;
    text-decoration: underline;
}

.cmpProjectsDone .titleBlock .allServices:hover {
    text-decoration: none;
}

.cmpProjectsDone .projDoneSlider .carousel-item {
    background: #e6e6e6;
}

.cmpProjectsDone .projDoneSlider .description {
    margin-bottom: 15px;
    font-family: Calibri, Helvetica, sans-serif;
    color: #333;
    font-size: 16px;
}

.cmpProjectsDone .projDoneSlider .description .title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 29px;
    text-decoration: underline;
    color: #000;
}

.cmpProjectsDone .projDoneSlider .description .title:hover {
    text-decoration: none;
}

.cmpProjectsDone .projDoneSlider .description .subTitle {
    margin-bottom: 10px;
    font-size: 18px;
}

.cmpProjectsDone .projDoneSlider .description p {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 17px;
}

.cmpProjectsDone .projDoneSlider .description > *:last-child {
    margin-bottom: 0;
}

.cmpProjectsDone .projDoneSlider .picture {
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #999;
    padding: 1px;
}

.cmpProjectsDone .projDoneSlider .picture img {
    width: 100%;
    max-height: 340px;
}

.cmpProjectsDone .projDoneSlider .slideSelector {
    margin-top: 15px;
    margin-bottom: 0;
    position: static;
}
