.cmpDoneProjects {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 14px;
    padding: 13px 0 10px;
    color: #999;
}

.cmpDoneProjects .list.var-blocks .item {
    display: block;
    margin-bottom: 35px;
    text-decoration: none;
    cursor: pointer;
    font-family: Calibri, Helvetica, sans-serif;
}

.cmpDoneProjects .list.var-blocks .item .imgWrapper {
    margin-bottom: 3px;
    border: 1px solid #e6e6e6;
    padding: 1px;
}

.cmpDoneProjects .list.var-blocks .item .imgWrapper img {
    max-width: 100%;
}

.cmpDoneProjects .list.var-blocks .item .timestamp {
    font-size: 11px;
    line-height: 13px;
    color: #999;
}

.cmpDoneProjects .list.var-blocks .item .group {
    font-size: 12px;
    line-height: 13px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cmpDoneProjects .list.var-blocks .item .title {
    margin-top: 3px;
    font-size: 22px;
    line-height: 23px;
    color: #333;
    text-decoration: underline;
}

.cmpDoneProjects .list.var-blocks .item:hover .imgWrapper {
    border-color: #00a99d;
}

.cmpDoneProjects .list.var-blocks .item:hover .title {
    color: #00a99d;
    text-decoration: none;
}

.cmpDoneProjects .list.var-lines .item {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #e6e6e6;
    text-decoration: none;
}

.cmpDoneProjects .list.var-lines .item .imgWrapper {
    margin: -1px;
    border: 1px solid #e6e6e6;
    padding: 1px;
}

.cmpDoneProjects .list.var-lines .item .imgWrapper img {
    max-width: 100%;
}

.cmpDoneProjects .list.var-lines .item .timestamp {
    font-size: 11px;
    line-height: 13px;
    color: #999;
}

.cmpDoneProjects .list.var-lines .item .desc {
    padding: 7px 10px;
}

.cmpDoneProjects .list.var-lines .item .group {
    font-size: 12px;
    line-height: 13px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cmpDoneProjects .list.var-lines .item .title {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
}

.cmpDoneProjects .list.var-lines .item .text {
    font-size: 16px;
    line-height: 17px;
    color: #333;
}

.cmpDoneProjects .list.var-lines .item:hover {
    background: #f2f2f2;
}

.cmpDoneProjects .list.var-lines .item:hover .imgWrapper {
    border-color: #00a99d;
}

.cmpDoneProjects .list.var-lines .item:hover .title {
    color: #00a99d;
    text-decoration: none;
}

@media (max-width: 768px) {
    .cmpDoneProjects .list.var-lines .item {
        border: none;
    }
}
